* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Noto Sans KR", sans-serif;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: keep-all;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  all: unset;
}

button {
  cursor: pointer;
}

.fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
.button {
  cursor: pointer;
}

/*****************************/
/* 스크롤바 지우는 코드입니다. */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
/*****************************/
